.buttons a {
    padding: 17px 15px;
    background-color: #00ff00;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin: 10px;
}

.buttons {
    margin-top: 40px;
}